@media(min-width:600px){
    .picture-layout{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(min-width:980px){
    .picture-layout{
        grid-template-columns: repeat(3,1fr);
    }
}

:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  *::-webkit-scrollbar{
    display: none;
  }

  #event-heading{
    background: rgb(238,104,8);
    background: linear-gradient(90deg, rgba(238,104,8,1) 10%, rgba(236,10,36,1) 97%);
    background-clip: text;
  }
  
  #events{
    background: url('./mandala_bg.jpg') no-repeat center center/cover;
    background-color: rgba(255, 255, 0, 0.726);
    background-blend-mode: multiply;
  }

  .content{
    background: rgba(230, 222, 184, 0.377);
  }

  .content h1{
    font-weight: 600;
    font-size: 2rem;
  }

  @media(width < 400px){
    .content h1{
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
  
  @media (hover) {
    .card-content {
      transform: translateY(65%);
      transition: transform 500ms ease;
    }
  
    .card-content > *:not(.card-title) {
      opacity: 0;
      transition: opacity 500ms linear;
    }
  
    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
      opacity: 1;
      transition-delay: 700ms;
    }
  
    .card:hover .card-content,
    .card:focus-within .card-content {
      transform: translateY(0);
      transition-delay: 500ms;
    }
  
    .card:focus-within .card-content {
      transition-duration: 0ms;
    }
  
    .card-title::after {
      transform: scaleX(0);
    }
  }
  
  .button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25rem;
  }
  /* nav{
    
  } */
  .button:hover,
  .button:focus {
    background-color: var(--clr-neutral-100);
  }
  
  .card-body {
    color: rgb(255, 255, 255/0.85);
  }
  
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition-delay: 0ms !important;
    }
  }
  